.modal.fade#lsa-payment-modal(tabindex="-1" role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true") &times;
        %h4.modal-title Pay Your Bill
      .modal-body
        .row
          .col-md-12
            %p Payment for services rendered by Leader Surgical Associates can be submitted through the following options:
            %ul
              %li Your MyWellspan Chart Account
              %li By Phone - 717-741-3449 extension 120 or 115
              %li
                %span By Mail
                %ul
                  %li Apple Hill Medical Center
                  %li 25 Monument Road Suite 145
                  %li York, PA 17403
      .modal-footer
        %button.btn.btn-default(type="button" data-dismiss="modal") Close
