.container
  .faq-heading
    %h3 Frequently Asked Questions
.group
  .container
    .anchor-row
      .right-column
        %h2 What percent of Wellspan is pure evil?
        %p Wellspan was created by average humans with a hint of devilish charm. After a few years that charm took over and the administration is nearly 100% evil.
        %h2 What will this cost?
        %p Unlike at Wellspan, we do not accept your soul as payment.
        %h2 Who am I?
        %p Don't worry about having an existential crisis.
        %h2 Where is the love?
        %p We are the leading independent surgical facility in the area. our independence allows us the agility to provide the most innovative, nuturing care possible.
        %h2 What percent of Wellspan is pure evil?
        %p Wellspan was created by average humans with a hint of devilish charm. After a few years that charm took over and the administration is nearly 100% evil.
        %h2 What will this cost?
        %p Unlike at Wellspan, we do not accept your soul as payment.
        %h2 Who am I?
        %p Don't worry about having an existential crisis.
        %h2 Where is the love?
        %p We are the leading independent surgical facility in the area. our independence allows us the agility to provide the most innovative, nuturing care possible.
        %h2 What percent of Wellspan is pure evil?
        %p Wellspan was created by average humans with a hint of devilish charm. After a few years that charm took over and the administration is nearly 100% evil.
        %h2 What will this cost?
        %p Unlike at Wellspan, we do not accept your soul as payment.
        %h2 Who am I?
        %p Don't worry about having an existential crisis.
        %h2 Where is the love?
        %p We are the leading independent surgical facility in the area. our independence allows us the agility to provide the most innovative, nuturing care possible.
