.container
  .anchor-row.home-heading
    .right-column
      %p Here at Leader Surgical, we understand that patients don't care how much you know, until they know how much you care.
      = link_to vision_path, class: "text-right" do
        %span learn more
        %span &#8811;
