.container-fluid
  .anchor-row.heading
    .left-column.text-center
      %h3 Your Visit
- @visits.each do |visit|
  .group
    .container-fluid
      %h1= visit.name
      .anchor-row
        .right-column
          = render "partials/visit", visit: visit
