.container-fluid
  .anchor-row.heading
    .left-column.text-center
      %h3 Our Vision
    .right-column
      %p I promise to hold the welfare of my patients above all else and to deal with each patient as I would want to be dealt with.
      %p.text-right - From the oath of fellowship in the American College of Surgeons
.group
  - @visions.each do |vision|
    .container-fluid
      %h1= vision.title
      .anchor-row
        .right-column
          = vision.text_to_html
.container-fluid.map
  %h1 Location
  .text-center
    %p Our offices are located in the Apple Hill Medical Center complex.
    .iframe-scroller
      %iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12228.803014190655!2d-76.7688002!3d39.9816188!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x372f0655ef5baa8d!2sUPMC%20Leader%20Surgery%20Center!5e0!3m2!1sen!2sus!4v1612313299241!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
