.container-fluid
  .anchor-row.heading
    .left-column.text-center
      %h3 Our Vision
    .right-column
      %p I promise to hold the welfare of my patients above all else and to deal with each patient as I would want to be dealt with.
      %p.text-right - From the oath of fellowship in the American College of Surgeons
.group
  - @visions.each do |vision|
    .container-fluid
      %h1= vision.title
      .anchor-row
        .right-column
          = vision.text_to_html
.container-fluid.map
  %h1 Location
  .text-center
    %p Our offices are located in the Apple Hill Medical Center complex.
    .iframe-scroller
      %iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.760817604338!2d-76.71872846328615!3d39.92436848984062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c889693187fc77%3A0xa5ce87a19f33997!2s25+Monument+Rd%2C+York%2C+PA+17403!5e0!3m2!1sen!2sus!4v1445568626207" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
