/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "overrides";
@import "bootstrap";
@import "variables";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);

html {
  overflow-x: hidden;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  @include background-image("background.jpg");

  color: $blue;
  font-family: "Raleway", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}
h3 {
  margin-top: 0;
}
a {
  color: $blue;
  &:active, &:focus, &:hover {
    color: $orange;
  }
}
li a {
  font-weight: 700;
}

.wrapper-outer {
  position: relative;
  min-height: 100%;
}
.wrapper-inner {
  padding-bottom: $footer-height-desktop;
}

.heading {
  h3 {
    font-weight: 700;
  }
}

.fa-youtube, .fa-facebook {
  color: $mint;
}

.anchor-row {
  position: relative;
  padding-top: 30px;

  .left-column {
    z-index: 10;
    position: absolute;
    width: $left-width;
  }
  .right-column {
    z-index: 1;
    position: relative;
    width: 100%;
    padding-left: $left-offset;
  }
}

.admin-controller .container {
  margin-bottom: 20px;
}

.group {
  margin: 30px 0;
  padding: 20px 0;
  background: rgba($mint, 0.6);

  ul {
    padding-left: 0;
  }
  li {
    list-style: none;

    &:not(.nested):after {
      content: "\f0a3";
      font: normal normal normal 12px/1 FontAwesome;
      color: $orange;
      margin-left: 5px;
    }
    ul {
      padding-left: 20px;
    }
  }
}

.hidden-desktop {
  display: none;
}

@media screen and (max-width: $screen-sm-max) {
  body {
    .hidden-mobile {
      display: none;
    }
    .hidden-desktop {
      display: initial;
    }
  }

  body .wrapper-outer footer,
  body .wrapper-outer .nav-outer,
  body .wrapper-outer .wrapper-inner .container :not(.exempt) {
    .left-column, .right-column, .right-column-inner {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
    }
  }

  body.pages-services .search {
    .left-column {
      @include make-row();
    }
    .search-specialties {
      @include make-xs-column(6);
    }
    .search-doctors {
      @include make-xs-column(6);
    }
  }

  .wrapper-inner {
    padding-bottom: $footer-height-mobile;
  }
}
