/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "variables";
@import "font-awesome";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  color: $dark-blue;
}
h3 {
  margin-top: 0;
}
a {
  color: $dark-blue;
  &:active, &:focus, &:hover {
    color: $orange;
  }
}

.wrapper-outer {
  position: relative;
  min-height: 100%;
}
.wrapper-inner {
  padding-bottom: $footer-height;
}

.anchor-row {
  position: relative;
  padding-top: 30px;

  .left-column {
    z-index: 10;
    position: absolute;
    width: $left-width;
  }
  .right-column {
    z-index: 1;
    position: relative;
    width: 100%;
    padding-left: $left-offset;
  }
}

.group {
  margin: 30px 0;
  padding: 20px 0;
  background-color: $light-blue;
  opacity: 0.7;

  ul {
    padding-left: 0;
  }
  li {
    list-style: none;

    &:not(.nested):after {
      content: "\f0a3";
      font: normal normal normal 12px/1 FontAwesome;
      color: $orange;
      margin-left: 5px;
    }
    ul {
      padding-left: 20px;
    }
  }
}
