@import "variables";

body.pages-doctors {
  h2 {
    margin-top: 0;
  }
  .heading {
    position: relative;
    vertical-align: top;
    padding-top: 20px;

    p {
      margin-top: -4px;
      font-size: 26px;
    }
    h3 {
      text-transform: uppercase;
    }
  }
  .group {
    li a {
      text-transform: uppercase;
      color: $orange;
    }
  }
  .flow-icon {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -65px;
    margin-left: -50%;
    text-align: center;

    .fa-circle {
      color: $orange;
    }
    .fa-chevron-down {
      color: $white;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .exempt {
      .left-column {
        width: 110px;
      }
      .right-column {
        padding-left: 130px;
      }
    }
  }
}
