@import "variables";

body.pages-faq {
  @include background-image("backgrounds/faq.jpg");

  .faq-heading {
    padding-top: 20px;
    text-transform: uppercase;
  }
  .group {
    margin-top: 20px;
    padding-top: 0;

    .anchor-row {
      padding-top: 0;
    }
  }
}
