@import "variables";

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  background-color: $mint;
  padding: 20px 0;

  .right-column {
    font-size: 18px;
    color: $orange;
  }
  .fa-youtube, .fa-facebook {
    color: $mint;
  }
  .tomify {
    margin-top: 10px;
  }
}
