@import "variables";

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-height-desktop;

  background-color: $mint;
  padding: 20px 0;

  .right-column {
    font-size: 18px;
    color: $orange;
  }
  .tomify {
    margin-top: 10px;
  }

  @media screen and (max-width: $screen-sm-max) {
    height: $footer-height-mobile;

    .anchor-row {
      padding-top: 0;
    }
    .col-md-6 {
      margin-top: 10px;
      text-align: center;
    }
  }
}
