@import "variables";

body.pages-home {
  .heading {
    margin-top: -30px;
    padding-top: 0;
  }

  p {
    font-size: 48px;
    font-weight: 700;

    &::first-line {
      font-weight: 400;
    }
  }
  .learn-more {
    text-align: right;

    a {
      display: inline-block;
      padding: 10px 15px;
      color: $teal;
      background-color: $blue;
      font-size: 24px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .heading {
      margin-top: 0;
    }
    p {
      font-size: 32px;
    }
  }
}
