$white: white;
$blue: #222061;
$teal: #329A9A;
$orange: #EA523F;

$navbar-inverse-bg: $blue;
$navbar-inverse-border: $blue;
$navbar-inverse-brand-color: $white;
$navbar-inverse-brand-hover-color: $orange;
$navbar-inverse-brand-hover-bg: $blue;
$navbar-inverse-color: $white;
$navbar-inverse-link-color: $white;
$navbar-inverse-link-hover-color: $orange;
$navbar-inverse-link-hover-bg: $blue;
$navbar-inverse-link-active-color: $white;
$navbar-inverse-link-active-bg: $blue;
$navbar-inverse-link-disabled-color: $blue;
$navbar-inverse-link-disabled-bg: $blue;
$navbar-inverse-toggle-border-color: $white;
$navbar-inverse-toggle-hover-bg: $orange;
$navbar-inverse-toggle-icon-bar-bg: $white;
$navbar-inverse-border: $blue;

$navbar-default-bg: $blue;
$navbar-default-border: $blue;
$navbar-default-brand-color: $white;
$navbar-default-brand-hover-color: $teal;
$navbar-default-brand-hover-bg: $blue;
$navbar-default-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $teal;
$navbar-default-link-hover-bg: $blue;
$navbar-default-link-active-color: $white;
$navbar-default-link-active-bg: $blue;
$navbar-default-link-disabled-color: $blue;
$navbar-default-link-disabled-bg: $blue;
$navbar-default-toggle-border-color: $white;
$navbar-default-toggle-hover-bg: $teal;
$navbar-default-toggle-icon-bar-bg: $white;
$navbar-default-border: $blue;
