@import "variables";

body.pages-pay {
  .heading {
    position: relative;
    vertical-align: top;
    padding-top: 20px;
    height: 50px;

    h3 {
      text-transform: uppercase;
    }
  }

  .content {
    margin-top: 20px;
  }
}

#lsa-payment-modal ul ul li {
  list-style: none;
}
