@import "variables";

body.pages-services {
  .services-heading {
    padding-top: 0;
    margin-top: -25px;
    color: $light-blue;
    font-size: 18px;
  }
  h3 {
    font-weight: 200;
    text-transform: uppercase;
    b {
      text-transform: initial;
    }
  }
  .left-column {
    ul {
      padding-left: 0;

      li {
        list-style: none;

        &:after {
          content: "\f0a3";
          font: normal normal normal 12px/1 FontAwesome;
          color: $orange;
          margin-left: 5px;
        }
      }
    }
  }
  .box {
    margin-top: 40px;
    padding: 20px;
    font-size: 24px;

    position: relative;
    background-color: $light-blue;
    border: 4px solid $dark-blue;

    &:after, &:before {
      position: absolute;
      content: " ";
      top: 50%;
      right: 100%;
      height: 0;
      width: 0;
      pointer-events: none;
      border: solid transparent;
    }
    &:after {
      margin-top: -20px;
      border-width: 20px;
      border-right-color: $light-blue;
    }
    &:before {
      margin-top: -26px;
      border-width: 26px;
      border-right-color: $dark-blue;
    }
  }
}
