@import "bootstrap/variables";

$white: white;
$blue: #222061;
$teal: #329A9A;
$mint: #CDFFFF;
$orange: #EA523F;

$navbar-color: $teal;
$navbar-color-active: $blue;

$left-width: 200px;
$left-offset: 230px;
$footer-height-desktop: 200px;
$footer-height-mobile: 250px;

@mixin background-image($image) {
  z-index: 0;

  &:before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-image: image-url($image);
    background-size: cover;
    -webkit-filter: blur(10px);
       -moz-filter: blur(10px);
         -o-filter: blur(10px);
        -ms-filter: blur(10px);
            filter: blur(10px);
  }
}
