@import "variables";

body.pages-vision {
  .heading {
    position: relative;
    vertical-align: top;
    padding-top: 20px;

    p {
      margin-top: -4px;
      font-size: 26px;
      &:first-of-type {
        font-style: italic;
      }
    }
    h3 {
      text-transform: uppercase;
    }
  }

  .group {
    margin-top: 20px;

    h1 {
      margin-top: 0;
      font-weight: 200;
      color: $orange;
    }
    .anchor-row {
      padding-top: 0;
    }
    p a {
      text-decoration: underline;
    }
  }

  .map {
    padding-bottom: 40px;
    color: $mint;
  }

  .iframe-scroller iframe {
    pointer-events: none;
  }

  @media screen and (max-width: $screen-sm-max) {
    h1 {
      text-align: center;
    }
    .map {
      text-align: center;
    }
    iframe {
      width: 100%;
    }
  }
}
