@import "variables";

body.pages-visit {
  @include background-image("backgrounds/visit.jpg");

  .visit-heading {
    position: relative;
    vertical-align: top;
    padding-top: 20px;
    height: 50px;

    h3 {
      text-transform: uppercase;
    }
  }

  .group {
    h1 {
      margin-top: 0;
      font-weight: 200;
      color: $orange;
    }
    .anchor-row {
      padding-top: 0;
    }
    li.nested {
      text-transform: uppercase;
      ul {
        text-transform: initial;
      }
    }
  }
}
