@import "variables";

body.pages-vision {
  @include background-image("backgrounds/vision.jpg");

  .vision-heading {
    position: relative;
    font-size: 26px;
    vertical-align: top;
    margin-top: 10px;

    p::first-line {
      line-height: 1;
    }
    h3 {
      text-transform: uppercase;
    }
  }
  .flow-icon {
    position: absolute;
    bottom: -65px;
    left: $left-offset;
    right: 0;
    text-align: center;

    .fa-circle {
      color: $orange;
    }
    .fa-chevron-down {
      color: $white;
    }
  }
  .partners {
    margin: 30px 0;
    padding: 20px 0;
    background-color: $light-blue;
    opacity: 0.7;

    ul {
      padding-left: 0;
    }
    li {
      list-style: none;
      text-transform: uppercase;

      &:after {
        content: "\f0a3";
        font: normal normal normal 12px/1 FontAwesome;
        color: $orange;
        margin-left: 5px;
      }
    }
  }
}
