@import "variables";

body.pages-vision {
  .vision-heading {
    position: relative;
    font-size: 26px;
    vertical-align: top;
    padding-top: 20px;

    p::first-line {
      line-height: 1;
    }
    h3 {
      text-transform: uppercase;
    }
  }
  .group {
    li a {
      text-transform: uppercase;
      color: $orange;
    }
  }
  .flow-icon {
    position: absolute;
    bottom: -65px;
    left: $left-offset;
    right: 0;
    text-align: center;

    .fa-circle {
      color: $orange;
    }
    .fa-chevron-down {
      color: $white;
    }
  }
}
